.movies {
    display: inline-block;
    margin: 10px;
    border: 1px solid #000000;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    width: 420px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}